<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="wapama" version="2.4">

	<display-name>Wapama</display-name>
	
	<servlet>
		<display-name>
			Wapama Editor Handler
		</display-name>
		<servlet-name>EditorHandler</servlet-name>
		<servlet-class>
			org.wapama.web.EditorHandler
		</servlet-class>
	</servlet>
	
	<servlet>
	   <display-name>UUID Based Repository</display-name>
	   <servlet-name>UUIDBasedRepositoryServlet</servlet-name>
	   <servlet-class>
	       org.wapama.web.server.UUIDBasedRepositoryServlet
	   </servlet-class>
	</servlet>
	
	<servlet>
	   <display-name>Plugin Service Servlet</display-name>
	   <servlet-name>PluginServiceServlet</servlet-name>
	   <servlet-class>
	       org.wapama.web.plugin.impl.PluginServiceServlet
	   </servlet-class>
	</servlet>
	
	<servlet>
	   <display-name>StencilSet Service Servlet</display-name>
	   <servlet-name>StencilSetServiceServlet</servlet-name>
	   <servlet-class>
	       org.wapama.web.stencilset.impl.StencilSetServiceServlet
	   </servlet-class>
	</servlet>
	
    <!-- Servlet Mappings -->
	
	 <servlet-mapping>
            <servlet-name>EditorHandler</servlet-name>
            <url-pattern>/editor</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
            <servlet-name>EditorHandler</servlet-name>
            <url-pattern>/editor/*</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>UUIDBasedRepositoryServlet</servlet-name>
        <url-pattern>/uuidRepository</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>PluginServiceServlet</servlet-name>
    	<url-pattern>/plugins</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>PluginServiceServlet</servlet-name>
    	<url-pattern>/plugin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>PluginServiceServlet</servlet-name>
    	<url-pattern>/plugin/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
    	<servlet-name>StencilSetServiceServlet</servlet-name>
    	<url-pattern>/stencilset/*</url-pattern>
    </servlet-mapping>
	
	<!-- the number within the session-timout element must be expressed in
		minutes. it is now 24 hours. -->
	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
	
	<!--
		jBoss' default mapping is to "image/svg", which causes the client not to
		parse the SVG content as XML. However, the Oryx Editor client relies on
		that behaviour. The mimetype as per W3C specification must be
		"image/svg+xml". See http://www.w3.org/TR/SVG/intro.html#MIMEType.
	-->
	<mime-mapping>
		<extension>svg</extension>
		<mime-type>image/svg+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>css</extension>
		<mime-type>text/css</mime-type>
	</mime-mapping>
	
	<!-- Set Favourites Icon MIME-Type --> 
	<mime-mapping>
	    <extension>ico</extension>
	    <mime-type>image/x-icon</mime-type>
	</mime-mapping>

	<!-- Pluggable filter -->
	<filter>
		<filter-name>Pluggable Filter</filter-name>
		<filter-class>org.wapama.web.filter.impl.PluggableFilter</filter-class>
	</filter>

    <filter>
        <filter-name>gzipFilter</filter-name>
        <filter-class>org.wapama.web.filter.impl.GZIPFilter</filter-class>
    </filter>
    <!-- add filter for servlet. URL mapping may also be used. -->

	<filter-mapping>
    	<filter-name>Pluggable Filter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>gzipFilter</filter-name>
        <servlet-name>StencilSetServiceServlet</servlet-name>
    </filter-mapping>
  
</web-app>
